

/* services */
.oo{
    position: relative;
}
.oo::after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    top: 100%;
    left: 48%;
    transform: translate(-50%);
    background-color: #e65f78;
    transition: 0.5s;
}
.service-item:hover .oo::after{
    width: 30%;
}
.service-item i {
    color: #e65f78;
    font-size: 3rem;
}
/* end services */
