/* Start Team */
.team h2 {
    position: relative;
    color: #ddd;
    font-size: 5rem;
    font-weight: 700;
}

.team h2::after {
    content: 'Creative Team';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #000;
    font-size: 2rem;
    font-weight: 700;
}

.team-item {
    overflow: hidden;
    position: relative;
}

.team-item .team-layer {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230,95,120,0.9);
    opacity: 0;
    transition: opacity 0.25s, top 0.25s;
}

.team-item:hover .team-layer {
    opacity: 1;
    top: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li {
  margin-top: 35px;
}


 #about li i   {
  background:white;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 25px;
  padding: 15px;
  color: rgba(230,95,120,0.9);
  border-radius: 50%;
  border: rgba(230,95,120,0.9);
  text-align: center;

} 

.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p {
  margin-bottom: 0;
}

/*----------------------end of About----------------------------------------
/* End Team */
